node_modules/
gitcreds.json
.DS_Store
koala-config.json
*.css.map
.sass-cache/
build/
deploy/
screenshots/
vendor/
none
.vscode/
includes/customizer/controls/
composer.lock
package-lock.json
assets/css/*
*.min.js
languages/*
assets/dist/*
*.bak
*.code-workspace
*.afdesign
*.zip